header {
    /*  Add styling here  */
}


main {
    /*  Add styling here  */
}

button {
    margin: 1em;
}

#light {
    margin: 1em;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}